.main{
    position: relative;
    top:200px;
    left: 50vh;
    font-size:100px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .search{
    position: relative;
    left: 50vh;
  
  }
  .back{
    background-image: url('./hot.jpg');
    background-size: cover;
  }
  .back1{
    background-image: url('./cold.jpeg');
    background-size: cover;
  }
  .back2{
    background-image: url('./good-weather.jpg');
    background-size: cover;
  }
